
.table .add-note {
	vertical-align: middle;
}
.company-information {
    padding: 40px 15px;
    text-align: center;
}
.note-edition {
    display:none;
}
.table td.notes {
    vertical-align: middle
}
.table th {
    text-align: center;
}
.table-bordered td.notes,
.table-bordered th.notes {
    border-left: 3px solid #757474;
}
.save-note {
	margin-top: 10px;
}