
/*  ID's                          */
/*--------------------------------*/
#result {
    display: none;
}
#url {
    width: 500px;
    min-width: 320px;
}

/*  Classes                     */
/*------------------------------*/
.search {
    padding: 50px;
    border: 1px solid #dedede;
    border-radius: 5px;
}
.company-information {
    padding: 40px 15px;
    text-align: center;
}
.fa-spin-custom, .glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
.note-edition {
    display:none;
}
.table .add-note {
    vertical-align: middle;
}
.table td.notes {
    vertical-align: middle
}
.table th {
    text-align: center;
}
.table-bordered td.notes,
.table-bordered th.notes {
    border-left: 3px solid #757474;
}
.save-note {
    margin-top: 10px;
}

/*  Animations                  */
/*------------------------------*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}